html {
    scroll-behavior: smooth;
    font-family: Roboto;
}

/*Setting the rows of the body and main with grid*/
body {
    margin: 0;
    display: grid;
    grid-template-rows: 8vh 1fr 10vh;
    grid-template-columns: 100%;
    background-color: #F1E4AE;
}

main {
    grid-row: 2;
    display: grid;
    grid-template-rows: repeat(6,max-content);
    gap: 8vh;
}

/*Removing decorations on all links and lists on the document */
a {
    text-decoration: none;
}

ul:not(#reasons) {
    list-style:none;
    padding: 0;
}

/*Navigation Bar*/
nav {
    grid-row: 1;
    display: flex;
    background-color: #B6562A;
    align-items: center;
    justify-content: space-between;
}

/*Styling Logo*/
#TURKEY {
    height: 5vh;
    margin-right: 1vw;
}

nav > a {
    display: flex;
    align-items: center;
    margin: 0 0 0 1vw;
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
}

/*Styling the navigation links*/
nav ul {
    display: flex;
    margin-right: 1vw;
    width: 40vw;
    justify-content: space-evenly;
    color: black;
}

nav li a {
    color: #DBBA33;
    font-weight: 500;
    padding: 1vh 1vw;
    border-bottom: solid 2px black;
}

nav li a:hover {
    background-color: #DBBA33;
    color: black;
    border-bottom: none;
    border-radius: 5px;
    box-shadow: 1px 5px 10px 5px rgba(0, 0, 0, 0.164);
    font-size: 1.02rem;
}

/*Hero Image with CTA*/
#hero {
    grid-row: 1;
    display: flex;
    background-image: url(images/THERO.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

/*Timer*/

#CTA {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #c2a384a6;
    height: 60vh;
    width: 75vw;
    border-radius: 10px;
}

        h1 {
            font-weight: 500;
            font-size: 2.5rem;
            margin-bottom: 1rem;
            text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
        }

        /* Added to show the target date for debugging */
        #target-date {
            display: none;
        }

        .countdown-container {
            display: flex;
            gap: 1vw;
            text-align: center;
        }

        .time-box {
            background: #dbbb96c7;
            border-radius: 8px;
            padding: 5vh 1vw;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
            min-width: 8vw;
        }

        .time {
            font-size: 3.5rem;
            font-weight: 600;
            display: block;
            line-height: 1;
        }

        .label {
            font-size: 0.9rem;
            text-transform: uppercase;
            letter-spacing: 1px;
        }

    /*Styling the CTA "button"*/
    #CTA > a {
        background-color: #DBBA33;
        color: black;
        font-size:x-large;
        font-weight: 500;
        margin-top: 7vh;
        padding: 2vh 10vw;
        border-radius: 5px;
    }

    #CTA > a:hover {
        background-color: #c4a52d;
        font-size: 1.6rem;
    }

/*true for all h2*/
h2 {
    text-align: center;
}

/*Details about the Event section*/
#detail {
    grid-area: 2;
    display: grid;
    grid-template-columns: 1fr 5fr 5fr 1fr;
    grid-template-rows: max-content 3fr 2fr;
}

#detail h2,
#detail1,
#detail2,
#detail3 {
    background-color: #DBBB96;
}

#detail h2 {
    grid-area: 1 / 2 / 2 / 4;
    margin-block: 0;
    padding-top: 5vh;
    padding-bottom: 2vh;;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: solid 5px black;
}

#detail1,
#detail2, 
#detail3 {
    padding: 0 10%;
    border: solid 5px black;
    border-top: 0;
}

#detail1 {
    grid-area: 2/2/4/3;
    border-right: solid 2.5px black;
    border-bottom-left-radius: 10px;
}

#detail2 {
    grid-area: 2/3/3/4;
    border-left: solid 2.5px black;
}

#detail2 li {
    padding: 3% 0;
}

#detail2 h3,
#detail3 h3 {
    text-align: center;
}

address {
    text-align: center;
    font-size: large;
    line-height: 2rem;
}

#detail3 {
    grid-area: 3/3/4/4;
    border-left: solid 2.5px black;
    border-bottom-right-radius: 10px;
}

/*Applicable to Register, Volunteer, &/or contact*/
#register,
#volunteer {
    margin: 0 15%;
    background-color: #C8945D;
}

#register,
#contact,
#volunteer {
    border-radius: 10px;
    border: solid 5px black
}

#register h2,
#volunteer h2,
#contact h2 {
    margin: 5vh 0;
}

form {
    align-items: center;
}

.formrow,
.contactrow {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin-bottom: 8vh;
}

form,
.formvert,
.formvert2,
.formvert1 {
    display: flex;
    flex-direction: column;
}

.formvert2 {
    width: 45%;
}

.formvert1 {
    width: 35%;
}

.formvert1:last-of-type {
    width: 20%;
}

.formvert {
    width:80%;
}

input::placeholder,
input,
textarea::placeholder,
textarea,
[type=date],
select {
    font-family: roboto;
    font-size: 1.05rem;
}

label {
    font-weight: 500;
}

div input,
select {
    height: 5vh;
    border-radius: 5px;
    border: solid 1.5px black;
}

select {
    height: 6.5vh;
}

div input:focus,
textarea:focus {
    outline: none;
    border: solid 1.5px #DBBA33;
}

/*Register Section*/
#register {
    grid-row: 3;
}

#register small {
    text-align: center;
    margin-bottom: 8vh;
}

/*Submit button for register and volunteer*/
#rsubmit,
#vsubmit,
#csubmit {
    width: 80%;
    background-color: #DBBA33;
    font-size: 1.3rem;
    padding: 1vh 0;
    margin-bottom: 2vh;
    border-radius: 10px;
    border: solid 2px black
}

#rsubmit:hover,
#vsubmit:hover {
    cursor: pointer;
    background-color: #caab30;
}

#vsubmit,
#csubmit {
    margin-top: 4%;
    margin-bottom: 10vh;
}

/*Volunteer Section*/
#volunteer {
    grid-row: 4;
}

/*Contact Section*/
#contact {
    grid-row: 5;
    background-color: #DBBB96;
    margin: 0 8%;
}

.contactrow .formvert {
    width: 47%;
}

textarea {
    resize: none;
    height: 15vh;
    border: solid 1.5px black;
    border-radius: 5px;
}

#csubmit {
    background-color: #B6562A;
}

#csubmit:hover {
    background-color: #a74f26;
    cursor: pointer;
}

/*Turkey Trot Image*/
aside {
    grid-row: 6;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;
}

aside img {
    height: 55vh;
    border-radius: 5px;
}

/*Footer*/
footer {
    display: flex;
    grid-row: 3;
    background-color: #B6562A;
    justify-content: center;
    align-items: center;
    color: #DBBA33;
    font-weight: 500;
}

footer small {
    justify-self: center;
}

/*Styling for Up Icon that will stay on the bottom right corner*/
#Arrow img {
    width: 2.5vw;
    margin-bottom: .5vw;
}

#Arrow {
    background-color: #DBBA33;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 4vw;
    height: 4vw;
    position:fixed;
    bottom: 1vw;
    right: 1vw;
}

#Arrow:hover {
    background-color: #c4a52d;
}

/*Turkey background*/
#BackTurkey {
    position: fixed;
    top:6%;
    left:25%;
    z-index: -1;
    opacity: 0.5;
}